.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
    margin: 5% 0 15%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header img {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.dirtyBar {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.roomDesign {
    width: 100%;
    display: flex;
    justify-content: center;
}

.roomDesign .roomView {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 350px;
}

.roomDesign .arrowImg {
    width: 20px;
    height: 20px;
    margin-top: 50%;
}

.visitorBoard {
    width: 80%;
    margin-top: 5%;
}

.visitorBoard button {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 10px solid burlywood;
    cursor: pointer;
    border-radius: 10px;
    font-family: Fre, sans-serif;
    font-size: 20px;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .header h2 {
        font-size: 2em;
    }

    .roomDesign .myRoom {
        width: 60%;
    }

    .visitorBoard button {
        height: 250px; /* 큰 화면에서 버튼 높이 증가 */
    }
}
