.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}

.friendsContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden; /* 수직 스크롤 숨기기 */
    display: flex;
    justify-content: flex-start; /* 시작점 정렬 */
    scrollbar-width: none; /* Firefox 용 */
    -ms-overflow-style: none;  /* IE 및 Edge 용 */
    white-space: nowrap;
}

.friendsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 용 */
}

.friendsList {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.friend, .addFriend {
    border-radius: 100%;
    background-color: #c5f1ff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    flex-shrink: 0; /* 축소 방지 */
}

.friend img, .addFriend img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend p, .addFriend p {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.dirtyBar {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.roomDesign {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.roomDesign .myRoom {
    width: 85%;
    height: auto;
    margin: 0;
    padding: 0;
}

.furniture {
    width: 80%;
    height: 200px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.routineContainer {
    width: 95%;
    position: relative;
}

.routineContainer::-webkit-scrollbar {
    display: none;
}

.roomRoutine {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.roomRoutine .roomRoutineHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.room-section h3 {
    display: flex;
    align-items: center;
    background-color: #ffc5f2;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 10px;
    height: 25px;
}

.roomRoutine h3 img {
    width: 20px;
    height: 20px;
}

.roomRoutine .alramOnOff {
    display: flex;
    align-items: center;
    gap: 5px;
}

.roomRoutine .alramOnOff p {
    margin: 0;
    font-size: 14px;
}

.roomRoutine .alramOnOff img {
    width: 15px;
    height: 15px;
    bottom: 5px;
    position: absolute;
}

.roomRoutine .roomRoutineInfo {
    max-height: 200px;
    overflow-y: auto;
}

.roomRoutine .roomRoutineInfo ul::-webkit-scrollbar {
    display: none;
}

.roomRoutine .roomRoutineInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(30px * 4);
    overflow-y: auto;
}

.roomRoutine .roomRoutineInfo li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.roomRoutine .roomRoutineInfo input[type="checkbox"] {
    margin-right: 10px;
}

.roomRoutine .roomRoutineInfo label {
    flex-grow: 1;
}

.roomRoutine .roomRoutineInfo img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
}

.roomRoutine .plusIcon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.submit {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 15%;
}

.submit button {
    width: 45%;
    padding: 10px 0;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .friendsContainer {
        justify-content: center; /* 큰 화면에서 중앙 정렬 */
    }

    .friend, .addFriend {
        width: 80px; /* 큰 화면에서 아이콘 크기 증가 */
        height: 80px;
    }

    .friend p, .addFriend p {
        font-size: 14px;
    }

    .dirtyBar {
        margin-top: 3%;
    }

    .roomDesign .myRoom {
        width: 60%;
    }

    .routineContainer {
        width: 90%;
    }

    .roomRoutine {
        padding: 20px;
        margin: 30px;
    }

    .roomRoutine .roomRoutineTitle {
        padding: 10px 20px;
        gap: 20px;
    }

    .roomRoutine .roomRoutineInfo ul {
        max-height: calc(40px * 4); /* 목록 항목 높이 증가 */
    }

    .submit {
        width: 60%;
        margin-top: 5%;
    }

    .submit button {
        font-size: 18px; /* 큰 화면에서 버튼 텍스트 크기 증가 */
    }
}
