.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
    margin-bottom: 15%;
}

.friendsContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden; /* 수직 스크롤 숨기기 */
    display: flex;
    justify-content: flex-start; /* 시작점 정렬 */
    scrollbar-width: none; /* Firefox 용 */
    -ms-overflow-style: none;  /* IE 및 Edge 용 */
    white-space: nowrap; /* 한 줄로 유지 */
}

.friendsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 용 */
}

.friendsList {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.friend, .addFriend {
    border-radius: 100%;
    background-color: #c5f1ff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    flex-shrink: 0; /* 축소 방지 */
}

.friend img, .addFriend img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend p, .addFriend p {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.dirtyBar {
    margin-top: 2%;
    width: 95%;
    display: flex;
    justify-content: center;
}

.roomDesign {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}

.roomDesign .roomView {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 350px;
}

.furniture {
    width: 80%;
    height: 200px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* 스케줄 목록 */
.scheduleList {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.roomSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.roomSectionTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    gap: 10px;
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: #c5f1ff;
    max-width: 100%;
}

.roomSectionTitle h3{
    margin: 0;
}

/* 스케줄 아이템 */
.scheduleItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.checkbox, .alarm {
    margin-right: 10px;
    cursor: pointer;
}

.scheduleName {
    flex: 1;
    font-size: 16px;
    color: #333;
}

/* 추가 버튼 */
.addButton {
    font-family: Fre, sans-serif;
    background-color: #c5f1ff;
    color: black;
    border: none;
    padding: 7px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto 0 auto;
    display: flex;
    align-items: center;
    max-width: 200px;
    gap: 10px;
}

.addButton img{
    width: 20px;
    height: 20px;
}

/* 모달 스타일 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 560px; /* 최대 너비 설정 */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

/* 모달의 컨텐츠 */
.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    gap: 10px; /* 버튼과 입력 필드 사이의 간격 */
    background-color: white;
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    border-radius: 10px; /* 둥글게 처리된 테두리 */
    padding: 20px; /* 내부 여백 */
}

/* 버튼들을 포함할 컨테이너 */
.buttonGroup {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격 */
}

/* 버튼 스타일 */
.modalContent button {
    font-family: Fre, sans-serif;
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.modalContent h2 {
    margin-top: 0;
    color: #333;
}

.modalContent input {
    font-family: Fre, sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
}

.scheduleList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(30px* 4);
    overflow-y: auto;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .friendsContainer {
        justify-content: center; /* 큰 화면에서 중앙 정렬 */
    }

    .friend, .addFriend {
        width: 80px; /* 큰 화면에서 아이콘 크기 증가 */
        height: 80px;
    }

    .friend p, .addFriend p {
        font-size: 14px;
    }

    .dirtyBar {
        margin-top: 3%;
    }

    .roomDesign .myRoom {
        width: 60%;
    }

    .routineContainer {
        width: 90%;
    }

    .roomRoutine {
        padding: 20px;
        margin: 30px;
    }

    .roomRoutine .roomRoutineTitle {
        padding: 10px 20px;
        gap: 20px;
    }

    .roomRoutine .roomRoutineInfo ul {
        max-height: calc(40px * 4); /* 목록 항목 높이 증가 */
    }

    .submit {
        width: 60%;
        margin-top: 5%;
    }

    .submit button {
        font-size: 18px; /* 큰 화면에서 버튼 텍스트 크기 증가 */
    }
}
