.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: BAZ, sans-serif;
    overflow: auto; /* Allow the body to scroll */
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header .back {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.writeButton {
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 5%;
}

.visitorBoard {
    width: 90%;
    margin-top: 20px;
    overflow-y: auto;
}

.visitorBoard::-webkit-scrollbar {
    display: none;
}

.visitorBoard {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.entry {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entryHeader,
.entryFooter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.entryFooter button {
    background: none;
    border: none;
    color: #6b6b6b;
    font-weight: bold;
    cursor: pointer;
}

.entryContent {
    margin-bottom: 10px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modalAddBtn,
.modalCancelBtn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modalAddBtn {
    background-color: #000000;
    color: white;
}

.modalCancelBtn {
    background-color: #ffffff;
    color: black;
}

.modalTextarea {
    margin: 5% 0 10% 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.modalTextarea textarea {
    width: 80%;
    outline: none;
    resize: none; /* Prevent textarea resizing */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.colorPicker {
    display: flex;
    align-items: center;
    margin: 5% 0 10% 0;
    gap: 20px;
}

.colorOptions {
    gap: 10px;
    display: flex;
    width: 80%;
}

.colorLabel {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ccc; /* Add border to color labels */
}

.privateCheckbox {
    display: flex;
    align-items: center;
    margin: 5% 0 10% 0;
}

.privateCheckbox label {
    display: flex;
    align-items: center;
}

.privateCheckbox img {
    margin-left: 5px;
}

.privateCheckbox input {
    margin-left: 10px;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .header h2 {
        font-size: 1.8em;
    }

    .visitorBoard {
        width: 80%;
    }

    .entry {
        padding: 20px;
    }

    .modalContent {
        width: 60%;
        max-width: 600px;
    }

    .modalTextarea textarea {
        width: 90%;
    }

    .colorOptions {
        width: 70%;
    }

    .modalAddBtn,
    .modalCancelBtn {
        font-size: 1.1em;
    }
}
