.container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Fre, sans-serif;
}

.firstLoginTitle {
    margin-bottom: 5%;
}

.profileImg {
    text-align: center;
    margin-bottom: 15%;
}

.profileImg img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.profileImg label:hover{
    color: dodgerblue;
}

.information {
    width: 80%;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
}

.inputContainer label {
    width: 30%;
}

.inputContainer input {
    width: 65%;
    border: none;
    border-bottom: 1px solid #535353;
    outline: none;
    font-family: Fre, sans-serif;
}

.submit {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 15%;
}

.submit button {
    width: 45%;
    padding: 10px 0;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Fre, sans-serif;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .firstLoginTitle {
        margin-bottom: 3%;
    }

    .profileImg {
        margin-bottom: 10%;
    }

    .information {
        width: 70%;
    }

    .inputContainer {
        margin-bottom: 10%;
    }

    .inputContainer label {
        width: 35%;
    }

    .inputContainer input {
        width: 60%;
    }

    .submit {
        width: 70%;
        margin-top: 10%;
    }

    .submit button {
        font-size: 18px; /* 버튼 텍스트 크기 증가 */
    }
}
