.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: BAZ, sans-serif;
}

.mainImg {
    text-align: center;
    margin-bottom: 20px;
}

.mainImg img {
    max-width: 80%;
    height: auto;
    margin-right: 6%;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20% 0;
}

.loginButton button {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kakao {
    background-color: #fee500;
}

.kakao img {
    max-width: 55%;
    height: auto;
}

.naver {
    background-color: #03c75a;
}

.naver img {
    max-width: 100%;
    height: auto;
}

.google {
    background-color: #f3f3f3;
}

.google img {
    max-width: 55%;
    height: auto;
}

.loginPageText p {
    font-size: 20px;
    text-align: center;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .container {
        padding: 20px;
    }

    .mainImg img {
        max-width: 60%; /* 큰 화면에 맞추기 위해 max-width 조정 */
    }

    .loginButton {
        gap: 20px; /* 버튼 간격 조정 */
        margin: 10% 0; /* 마진 조정 */
    }

    .loginButton button {
        width: 80px; /* 버튼 크기 증가 */
        height: 80px;
    }

    .loginPageText p {
        font-size: 24px; /* 텍스트 크기 증가 */
    }
}
