.footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #c5f1ff;
    padding: 10px 0;
    z-index: 1000;
    left: 0;
    font-family: BAZ, sans-serif;
}

.footer img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
}

.popup {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.popupBackground img {
    max-width: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.icon-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -20px; /* 배경과 겹치지 않도록 조정 */
}

.icon-container .icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.icon-container .livingRoom {
    bottom: -15px;
    left: 13.5%;
}

.icon-container .mainRoom {
    bottom: 38px;
    left: 12.5%;
}

.icon-container .tip {
    bottom: -15px;
    right: 12.5%;
}

.icon-container .closetRoom {
    bottom: -15px;
    right: 14%;
}

@media (max-width: 768px) {
    .footer img,
    .icon-container .icon {
        width: 35px;
        height: 35px;
    }

    .popupBackground img {
        max-width: 300px;
    }

    .icon-container {
        max-width: 300px;
    }
}
