@font-face {
    font-family: 'Fre';
    src: url('./Fre.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BAZ';
    src: url('./BAZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,html {
    font-family: 'BAZ', sans-serif !important;
}
