.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header img {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}


.selection {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weatherArea, .weatherDate, .weatherTime{
    text-align: center;
}

.selectionArea {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap; /* Add this line */
}

.selectionDate {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap; /* Add this line */
    margin: 10px 0;
}

.selection select,
.selection input {
    font-family: Fre, sans-serif;
    width: 30%;
    height: 30px;
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin: 10px 0;
    font-size: 16px;
}

.selection .customTempButton{
    font-family: Fre, sans-serif;
    width: 15%;
    height: 30px;
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin: 10px 0;
    font-size: 13px;
}

.recommendations-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 그리드 레이아웃: 열 크기 100px, 빈 공간에 자동 맞춤 */
    gap: 10px; /* 이미지 간의 간격 */
    padding: 20px; /* 컨테이너 패딩 */
}

.image-category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* 이미지 중앙 정렬 */
}

.item {
    width: 100px; /* 이미지를 4분의 1 크기로 줄이기 */
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease; /* 호버 시 확대 효과 */
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1); /* 호버 시 이미지 확대 */
}


/* recommendCloset.module.css */
.weather {
    width: 80%;
    height: 85px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: dodgerblue; /* 박스 내부 색을 네이비로 설정 */
    color: white; /* 텍스트 색상을 흰색으로 변경 (네이비 배경에 잘 보이도록) */
    padding: 20px;
    border-radius: 10px;
}

.weatherInfo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소 간의 균등한 간격 유지 */
    margin: 10px 0;
    width: 100%; /* 부모 컨테이너의 너비를 채우도록 설정 */

}

.weatherIcon {
    width: 100px; /* 고정된 너비 설정 */
    height: 100px; /* 고정된 높이 설정 */
    margin-top: -20px; /* 위쪽 마진을 추가하여 이미지 아래로 이동 */
    margin-right: 20px;

}

.weatherDescription {
    margin-top: 100px; /* 위쪽 마진을 추가하여 이미지 아래로 이동 */
    margin-left: -140px; /* 왼쪽 마진을 추가하여 이미지 옆으로 이동 */
    text-align: left; /* 왼쪽 정렬 */
}

.weatherDetails {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 중앙 정렬 */
    align-items: flex-end; /* 오른쪽 정렬 */
    margin-left: 50px; /* 오른쪽으로 이동 */
    width: 120px; /* 고정된 너비 설정 */

}

.weatherDetails p {
    margin: 4px 0; /* 위아래 간격을 줄이기 위해 마진 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */

}
