.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: BAZ, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.livingRoomHeader {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.categories {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px; /* Ensures consistent size for each category */
    margin: 10px 0;
    justify-content: center;
    cursor: pointer;
}

.category img {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.category p {
    margin: 10px 0 0 0;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    word-wrap: break-word;
    max-width: 80px;
}

/* Responsive Design for larger screens */
@media (min-width: 768px) {
    .categories {
        justify-content: space-around;
    }
}
