.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header img {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.recipeTitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 5px double black;
}

.recipeInfo {
    width: 95%;
}

.recipeMaterial{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}

.recipeMaterial h3{
    width: 15%;
}

.recipeMaterial p{
    line-height: 1.5;
    width: 100%;
}

.recipeTime{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}

.recipeTime h3{
    width: 20%;
}

.recipe{
    justify-content: left;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}

.recipe h3{
    width: 20%;
    margin-bottom: 5px;
}

.recipe ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
}

