.loader-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.loader {
    font-family: 'Fre', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 15px;
    width: 95%;
    /*background: #fff;*/
    /*background: linear-gradient(90deg, #66FF66, #FFFF66, #FF3333); !* 녹색, 노란색, 빨간색 그라데이션 *!*/
    background: linear-gradient(90deg, #72ff72, #dbffb0, #ffffb0, #ffceb0, #ff3b3b); /* 녹색, 노란색, 빨간색 그라데이션 */
    /*background: linear-gradient(90deg, #8CF064, #FFE146, #FF3232); !* 녹색, 노란색, 빨간색 그라데이션 *!*/
    border-radius: 20px;
    overflow: hidden;
    --loader-width: 0%;
    --loader-content: "0%";
    margin: 0;
    padding: 5px;

}

.chat-icon-container {
    width: 90%;
    z-index: 1000;
}

.chat-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: var(--loader-width);
}