.loader-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.loader {
    display: block;
    position: relative;
    height: 25px;
    width: 100%;
    /*background: #fff;*/
    /*background: linear-gradient(90deg, #66FF66, #FFFF66, #FF3333); !* 녹색, 노란색, 빨간색 그라데이션 *!*/
    background: linear-gradient(90deg, #66FF66, #FFFF66, #FF3333); /* 녹색, 노란색, 빨간색 그라데이션 */
    /*background: linear-gradient(90deg, #8CF064, #FFE146, #FF3232); !* 녹색, 노란색, 빨간색 그라데이션 *!*/
    border-radius: 20px;
    overflow: hidden;
    --loader-width: 0%;
    --loader-content: "0%";
    margin: 0;
}

.chat-icon-container {
    width: 100%;
}

.chat-icon {
    position: relative;
    width: 70px;
    height: 70px;
    margin-left: var(--loader-width);
}