.container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Fre, sans-serif;
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.header img {
    cursor: pointer;
}

.searchBar {
    width: 70%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.searchBar input {
    width: 85%;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchBar img {
    cursor: pointer;
}

.searchBar.visible {
    max-height: 50px;
    opacity: 1;
    padding: 5px 10px;
}

.searchResults {
    width: 90%;
    margin-top: 20px;
}

.searchResultItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.searchResultItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.searchResultItem span {
    flex-grow: 1;
    font-size: 20px;
}

.searchResultItem button {
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}
