.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header img {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.profileImg {
    text-align: center;
    margin: 20px 0;
}

.profileImg img {
    display: block;
    margin: 0 auto;
    width: 80px; /* 적당한 크기로 조정 */
    height: 80px;
    border-radius: 50%;
}

.information {
    width: 80%;
    margin: 20px 0;
    line-height: 4;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputContainer label {
    width: 30%;
    font-weight: bold;
}

.inputContainer input {
    font-family: Fre, sans-serif;
    width: 65%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #535353;
    outline: none;
    font-size: 16px;
}

.inputContainer input[type=email] {
    text-align: center;
}

.submit {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}

.submit button {
    font-family: Fre, sans-serif;
    width: 45%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit .cancel,
.submit .next{
    font-family: Fre, sans-serif;
    background: none;
    color: black;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .header h2 {
        font-size: 1.8em;
    }

    .profileImg img {
        width: 120px; /* 큰 화면에서 크기 증가 */
        height: 120px;
    }

    .information {
        width: 70%;
    }

    .submit {
        width: 70%;
    }

    .inputContainer label {
        font-size: 1.1em;
    }

    .inputContainer input {
        font-size: 1.1em;
    }

    .submit button {
        font-size: 1.1em;
    }
}
