.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header img {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.settingsList {
    width: 90%;
    margin-top: 20px;
}

.settingsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 12px;
    color: #888;
    margin: 0 0 5% 5%;
    display: flex;
    align-items: center;
}

.description img {
    margin-right: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #c5f1ff;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 반응형 디자인 */
@media (min-width: 394px) {
    .header h2 {
        font-size: 1.8em;
    }

    .settingsList {
        width: 80%;
    }

    .settingsItem {
        padding: 20px;
    }

    .description {
        font-size: 14px;
    }

    .switch {
        width: 50px;
        height: 24px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }
}
