.container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Fre, sans-serif;
}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.header img {
    cursor: pointer;
}

.tabs {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 3px;
    border: none;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.routineContainer {
    width: 95%;
    position: relative;
}

.routineContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.roomRoutine,
.livingRoomRoutine,
.toiletRoutine {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.roomRoutine .roomRoutineHeader,
.livingRoomRoutine .livingRoomRoutineHeader,
.toiletRoutine .toiletRoutineHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.roomRoutine .roomRoutineTitle,
.livingRoomRoutine .livingRoomRoutineTitle,
.toiletRoutine .toiletRoutineTitle {
    display: flex;
    align-items: center;
    background-color: #ffc5f2;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 10px;
}

.livingRoomRoutine .livingRoomRoutineTitle {
    background-color: #ffebc5;
}

.toiletRoutine .toiletRoutineTitle {
    background-color: #c5f1ff;
}

.roomRoutine .roomRoutineTitle img,
.livingRoomRoutine .livingRoomRoutineTitle img,
.toiletRoutine .toiletRoutineTitle img {
    width: 20px;
    height: 20px;
}

.roomRoutine .roomRoutineTitle p,
.livingRoomRoutine .livingRoomRoutineTitle p,
.toiletRoutine .toiletRoutineTitle p {
    font-size: 16px;
    margin: 0;
}

.roomRoutine .alramOnOff,
.livingRoomRoutine .alramOnOff,
.toiletRoutine .alramOnOff {
    display: flex;
    align-items: center;
    gap: 5px;
}

.roomRoutine .alramOnOff p,
.livingRoomRoutine .alramOnOff p,
.toiletRoutine .alramOnOff p {
    margin: 0;
    font-size: 14px;
}

.roomRoutine .alramOnOff img,
.livingRoomRoutine .alramOnOff img,
.toiletRoutine .alramOnOff img {
    width: 15px;
    height: 15px;
    bottom: 5px;
    position: absolute;
}

.roomRoutine .roomRoutineInfo,
.livingRoomRoutine .livingRoomRoutineInfo,
.toiletRoutine .toiletRoutineInfo {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.roomRoutine .roomRoutineInfo ul::-webkit-scrollbar,
.livingRoomRoutine .livingRoomRoutineInfo ul::-webkit-scrollbar,
.toiletRoutine .toiletRoutineInfo ul::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.roomRoutine .roomRoutineInfo ul,
.livingRoomRoutine .livingRoomRoutineInfo ul,
.toiletRoutine .toiletRoutineInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(30px * 4); /* Height for 4 items, adjust if necessary */
    overflow-y: auto; /* Enable vertical scrolling */
}

.roomRoutine .roomRoutineInfo li,
.livingRoomRoutine .livingRoomRoutineInfo li,
.toiletRoutine .toiletRoutineInfo li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative; /* Ensure that absolute positioning works within this context */
}

.roomRoutine .roomRoutineInfo input[type="checkbox"],
.livingRoomRoutine .livingRoomRoutineInfo input[type="checkbox"],
.toiletRoutine .toiletRoutineInfo input[type="checkbox"] {
    margin-right: 10px;
}

.roomRoutine .roomRoutineInfo label,
.livingRoomRoutine .livingRoomRoutineInfo label,
.toiletRoutine .toiletRoutineInfo label {
    flex-grow: 1; /* Allow the label to take up available space */
}

.roomRoutine .roomRoutineInfo img,
.livingRoomRoutine .livingRoomRoutineInfo img,
.toiletRoutine .toiletRoutineInfo img {
    width: 20px; /* Set a fixed size for the images */
    height: 20px;
    margin-left: 10px; /* Add margin to create space between the label and the image */
    position: relative;
}

/* 추가된 부분 */
.roomRoutine .plusIcon,
.livingRoomRoutine .plusIcon,
.toiletRoutine .plusIcon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
