.container {
    padding: 0;
    margin: 5% 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Fre, sans-serif;
    overflow: auto; /* Allow the body to scroll */
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header .back {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.header h3 {
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 5%;
}

.tabs {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tab {
    padding: 3px;
    border: none;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.routineContainer {
    width: 95%;
    position: relative;
}

.roomRoutine,
.livingRoomRoutine,
.toiletRoutine {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.roomRoutineHeader,
.livingRoomRoutineHeader,
.toiletRoutineHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.roomRoutineTitle,
.livingRoomRoutineTitle,
.toiletRoutineTitle {
    display: flex;
    align-items: center;
    background-color: #ffc5f2;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 10px;
}

.livingRoomRoutineTitle {
    background-color: #ffebc5;
}

.toiletRoutineTitle {
    background-color: #c5f1ff;
}

.roomRoutineTitle img,
.livingRoomRoutineTitle img,
.toiletRoutineTitle img {
    width: 20px;
    height: 20px;
}

.roomRoutineTitle p,
.livingRoomRoutineTitle p,
.toiletRoutineTitle p {
    font-size: 16px;
    margin: 0;
}

.alramOnOff {
    display: flex;
    align-items: center;
    gap: 5px;
}

.alramOnOff p {
    margin: 0;
    font-size: 14px;
}

.alramOnOff img {
    width: 15px;
    height: 15px;
    bottom: 5px;
    position: absolute;
}

.roomRoutineInfo,
.livingRoomRoutineInfo,
.toiletRoutineInfo {
    max-height: 200px;
    overflow-y: auto;
}

.roomRoutineInfo ul,
.livingRoomRoutineInfo ul,
.toiletRoutineInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(30px * 4);
    overflow-y: auto;
}

.roomRoutineInfo li,
.livingRoomRoutineInfo li,
.toiletRoutineInfo li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.roomRoutineInfo input[type="checkbox"],
.livingRoomRoutineInfo input[type="checkbox"],
.toiletRoutineInfo input[type="checkbox"] {
    margin-right: 10px;
}

.roomRoutineInfo label,
.livingRoomRoutineInfo label,
.toiletRoutineInfo label {
    flex-grow: 1;
}

.roomRoutineInfo img,
.livingRoomRoutineInfo img,
.toiletRoutineInfo img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
}

.plusIcon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* 반응형 디자인 */
@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .header, .tabs {
        width: 100%;
    }

    .routineContainer, .roomRoutine, .livingRoomRoutine, .toiletRoutine {
        width: 80%;
        margin: 20px auto;
    }
}
