.container {
    padding: 0;
    margin: 5% 0 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Fre, sans-serif;
    overflow: auto; /* Allow the body to scroll */
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.header .back {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.header h2{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.header h3 {
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 5%;
}

.tabs {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tab {
    padding: 3px;
    border: none;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.routineContainer {
    width: 95%;
    position: relative;
}

.roomRoutine,
.livingRoomRoutine,
.toiletRoutine {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.roomRoutineHeader,
.livingRoomRoutineHeader,
.toiletRoutineHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.roomRoutineTitle,
.livingRoomRoutineTitle,
.toiletRoutineTitle {
    display: flex;
    align-items: center;
    background-color: #ffc5f2;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 10px;
}

.livingRoomRoutineTitle {
    background-color: #ffebc5;
}

.toiletRoutineTitle {
    background-color: #c5f1ff;
}

.roomRoutineTitle img,
.livingRoomRoutineTitle img,
.toiletRoutineTitle img {
    width: 20px;
    height: 20px;
}

.roomRoutineTitle p,
.livingRoomRoutineTitle p,
.toiletRoutineTitle p {
    font-size: 16px;
    margin: 0;
}

.alramOnOff {
    display: flex;
    align-items: center;
    gap: 5px;
}

.alramOnOff p {
    margin: 0;
    font-size: 14px;
}

.alramOnOff img {
    width: 15px;
    height: 15px;
    bottom: 5px;
    position: absolute;
}

.roomRoutineInfo,
.livingRoomRoutineInfo,
.toiletRoutineInfo {
    max-height: 200px;
    overflow-y: auto;
}

.roomRoutineInfo ul,
.livingRoomRoutineInfo ul,
.toiletRoutineInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(30px * 4);
    overflow-y: auto;
}

.roomRoutineInfo li,
.livingRoomRoutineInfo li,
.toiletRoutineInfo li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding: 5px;
}

.roomRoutineInfo input[type="checkbox"],
.livingRoomRoutineInfo input[type="checkbox"],
.toiletRoutineInfo input[type="checkbox"] {
    margin-right: 10px;
}

.roomRoutineInfo label,
.livingRoomRoutineInfo label,
.toiletRoutineInfo label {
    flex-grow: 1;
}

.roomRoutineInfo img,
.livingRoomRoutineInfo img,
.toiletRoutineInfo img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
}

.plusIcon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* 모달 스타일 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 560px; /* 최대 너비 설정 */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

/* 모달의 컨텐츠 */
.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    gap: 10px; /* 버튼과 입력 필드 사이의 간격 */
    background-color: white;
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    border-radius: 10px; /* 둥글게 처리된 테두리 */
    padding: 20px; /* 내부 여백 */
}

/* 버튼들을 포함할 컨테이너 */
.buttonGroup {
    display: flex;
    gap: 20px; /* 버튼 사이의 간격 */
}

/* 버튼 스타일 */
.modalContent button {
    font-family: Fre, sans-serif;
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.modalContent h2 {
    margin-top: 0;
    color: #333;
}

.modalContent input {
    font-family: Fre, sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modalAddBtn,
.modalCancelBtn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modalAddBtn {
    background-color: #000000;
    color: white;
}

.modalCancelBtn {
    background-color: #ffffff;
    color: black;
}

.routineColor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.routineName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 0;
}

#routineName{
    width: 70%;
    border: none;
    border-bottom: 1px solid #535353;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
    width: 85%;
}

.weekdays input[type="checkbox"] {
    display: none;
}

.weekdays label {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.weekdays input[type="checkbox"]:checked + label {
    background-color: #000;
    color: #fff;
}


/* 월화수목금토일 관련 */
.daysOfMonth {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5% 0;
    box-sizing: border-box;
}

.week {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 10px;
}

.dateButton {
    width: calc(100% / 7 - 10px);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateButton.selected {
    background-color: #c5f1ff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 반응형 디자인 */
@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .header, .tabs {
        width: 100%;
    }

    .routineContainer, .roomRoutine, .livingRoomRoutine, .toiletRoutine {
        width: 80%;
        margin: 20px auto;
    }
}
