.container {
    padding: 0;
    margin: 5% 0 20% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Fre, sans-serif;
}


.routineTitle {
    margin-bottom: 20px;
}

.routineTitle h1{
    margin: 0;
}

.routineEditAdd {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    cursor: pointer;
}

.add {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

.routine {
    width: 80%;
    margin-top: 10%;
}

.onRoutine {
    margin: 0;
    padding: 0;
}

.roomRoutine, .myRoutine {
    border-radius: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Fre, sans-serif;
    font-size: 20px;
}

.roomRoutine {
    background-color: #c5f1ff;
    border: none;
}

.myRoutine {
    background-color: #ffebc5;
    border: none;
}


.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modalAddBtn, .modalCancelBtn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modalAddBtn {
    background-color: #000000;
    color: white;
    font-family: Fre, sans-serif;
}

.modalCancelBtn {
    background-color: #ffffff;
    color: black;
    font-family: Fre, sans-serif;
}

.routineName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.routineName input[type="text"]{
    width: 80%;
    font-family: Fre, sans-serif;
}

#routineName {
    width: 70%;
    border: none;
    border-bottom: 1px solid #535353;
}

.routineColor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.routineGroupList{
    display: none;
}


/* 반응형 디자인 */
@media (min-width: 768px) {
    .routineEditAdd, .routine {
        width: 60%;
    }

    .routineTitle h1 {
        font-size: 2em;
    }

    .roomRoutine, .myRoutine {
        height: 150px;
        font-size: 1.2em;
    }

    .modalContent {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .routineEditAdd, .routine {
        width: 50%;
    }

    .roomRoutine, .myRoutine {
        height: 180px;
        font-size: 1.4em;
    }
}
